body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    padding-top:  30px; 
}

h3 {
    font-weight: 600;
    text-align: center;
    padding-top:  30px; 
}

.search-bar {
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}

.current-temp {
    border-width: thin;
    padding-bottom: 30px;
}

.current-temp h5 {
    padding-top: 20px;
}

.card-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.units .active {
    color: black;
    cursor: default;
}

.units .active {
    text-decoration: none;
}

#icon {
    height: 120px;
    width: 120px;
}

.forecast {
    padding-bottom: 30px;
}

.forecast h5, p {
    text-align: center;
}

#forecast-card {
    text-align: center;
}

footer {
    text-align: center;
    padding-top: 20px;
}