.container-fluid {
  text-align: center;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  color: #fff;
  width: 100%;
  height: 100%;
  background-color: #709775;
}

.page-title {
  font-weight: bold;
}

.search-bar {
  padding: 20px 0px 20px 0px;
}

#search-button, #current-button {
    background: #415D43;
    color: #fff;
}

#weather-box {
color: #111D13;
}

.current-temp {
  padding: 10px 0px 10px 0px;
  font-weight: bold;
  color: #415d43;

}

#current-city {
  font-weight: 600;
  font-size: 35px;
  text-align: center;
  padding-top: 30px;
}

#icon {
  height: 120px;
  width: 120px;
}

.current-degree {
  font-weight: 600;
  font-size: 35px;
}

#forecast-card {
    background: #A1CCA5;
    margin: 10px 5px 5px 5px;
    font-weight: bold;
}

.card-title {
  font-weight: bold;
}

#temp-min {
  color: grey;
}

footer {
  padding-top: 20px;
}

footer a {
  text-decoration: none;
  color: #ffff;
}

footer a:hover {
  color: #415d43;
}